/* reset start */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset end */

body {
  background-color: rgb(29, 29, 31);

  margin: 0 auto;

  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
}

.card {
  position: relative;
  perspective: 1000px;
}

.block-front-side,
.block-backside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;

  width: 420px;
  height: 460px;

  padding: 20px 25px;

  background-color: rgb(37, 37, 39);

  border: 2px solid rgb(74, 74, 77);
  border-radius: 3%;

  transition: 0.35s;
  backface-visibility: hidden;
}

.block-front-side {
  background-color: rgb(37, 37, 39);
}

.block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 39px;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 30px;
  margin: 0;

  border: 2px solid rgb(74, 74, 77);
  border-radius: 10%;

  background-color: rgb(29, 29, 31);

  p {
    margin: 0;
    font-size: 15px;
  }
}

.time {
  font-size: 30px;
}

.block__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-backside__main {
  display: flex;
  flex-direction: column;

  font-size: 20px;

  .display-center {
    display: flex;
    justify-content: center;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
  }

  p {
    padding-bottom: 7px;
  }
}

.weather-status {
  display: flex;
  justify-content: center;
  justify-items: center;

  font-size: 15px;
  opacity: 0.6;
}

.block__footer,
.block-backside__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.block-backside__footer {
  justify-content: center;
}

.params {
  display: flex;
  flex-direction: column;

  font-size: 20px;
}

.humidity {
  padding: 10px 0px;
}

.double-button {
  padding: 10px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  .double-button__delete {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 40px;

    border-radius: 20% 0 0 20%;

    background-color: rgb(19, 19, 20);

    // :hover{
    //   cursor: pointer;
    // }
  }

  .double-button__rotate {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 40px;

    :hover {
      transform: rotate(540deg);
      transition: all 1s ease 0s;

      cursor: pointer;
    }

    img {
      width: 40px;
    }
  }
}

.block-backside {
  transform: rotateY(180deg);
}

.rotated-card .block-front-side {
  transform: rotateY(180deg);
}

.rotated-card .block-backside {
  transform: rotateY(360deg);
}

.temp {
  font-size: 50px;
}

// "Set time:" row on backside start  
.set-hour-button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;

  margin-top: 10px;
  margin-bottom: 15px;

  p {
    padding-bottom: 0px;
  }
}

.set-time-margin {
  display: flex;
  align-items: center;

  margin-right: 15px;
}

.set-buttons {
  display: flex;
  align-items: center;
}

.minus-button,
.hour-viewier,
.plus-button {
  width: 35px;

  background-color: rgb(19, 19, 20);

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;

    padding-bottom: 0px;
  }
}

.minus-button {
  border-radius: 20% 0 0 20%;

  :hover {
    cursor: pointer;
  }
}

.plus-button {
  border-radius: 0 20% 20% 0;

  :hover {
    cursor: pointer;
  }
}
// "Set time:" row on backside end 

.backside-input {
  width: 80px;
}